<% provide(:title, 'About') %>
<h1>About</h1>
<p>
 The Denver Sidewalk Project is a grassroots effort to make Denver a more walkable city by holding property owners accountable to the sidewalks they are supposed to maintain.

 By banding together, we can discover, inform, and ultimately act to fix our sidewalk network.

 <!--Denver's Sidewalks are governed by Denver Code of Ordinances::Chapter 49::Article VI -->
 <!--The legal framework for getting the city to fix it is covered by Section 49-120 SS b4 -->
</p>
