<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Denver Sidewalk Project team by emailing us at <a href="mailto:info@denversidewalkproject.com">info@denversidewalkproject.com</a>
</p>
