

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<div class="center jumbotron">
  <h1>Denver Sidewalk Project</h1>

  <h2>
    Welcome to the Denver Sidewalk Project! <!--(<a href="#">en espanol</a>)--><p>
    If you're tired of bad, broken, or non-existant sidewalks in Denver, you've come to the right place!
  </h2>
  <h2>
    Got a bad patch of pavement in your neighborhood? Click <a href="/reports/new">here</a> to submit it.
  </h2>





<div id="mapid" style="width: 100%; height: 500px;"></div>
</div>
<%= javascript_include_tag('map') %>
